@{
    ViewData["Title"] = "Hemsida";
}

<div class="text-center">
    <h1 class="display-4">Sveriges främsta wiki-sida om Grand Danois!</h1>
    <p>Här hittar du all information du behöver inför ditt hundköp.</p>
    
</div>
